{% extends 'Security\\user_bar.html.twig' %}

{% block body %}
<ul>
    <li><a href="{{ path('menu') }}">Jouer</a></li>
    <li><a href="{{ path('admin') }}">Administration</a></li>
</ul>
{% endblock %}